*
{
	padding: 0;
	margin: 0;
}
body
{
	/*background-color: #F08080;*/
	/*background-color: #F0FFFF;*/
	/*background-color: #008080;*/
	font-family: Georgia, serif;
	background-color: #5499C7;
}
.name-place
{
	width: 60%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background-color: #212F3D;
	text-align: center;
}
.name
{
	color: white;
	text-align: center;
	font-weight: bold;

}
#name-divider
{
	color: yellow;
}

.personal-picture
{
	margin-top: 20px;
	width: 50%;
	height: 220px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #212F3D;
	/*background-image: url('images/two.jpg');*/

    background-size: cover; 
}
.hidden
{
	display: none;
	background-color: white;
	position: absolute;
	border-radius: 5px;
	top: 40px;
	left: 50%;
    transform: translateX(-50%);
	width: 28%;
	height: 90px;
	border: 2px solid #212F3D;

}
.click-to-display
{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
#nav-links
{
	padding: 5px;
}
#nav-links:hover {
  background-color: #212F3D;
  color: white;
}
a{
	text-decoration: none;
	color: black;
}
.projects
{
	border-radius: 5px;
	margin-top: 15px;
	width: 95%;
	background-color: #212F3D;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}
#projects
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.project-links
{
	width: 60%;
	height: 120px;
	margin-top: 15px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: white;
	border: 2px solid white;
	border-style: dashed;
}
@media (min-width: 801px) {
  .small-screen {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 319px) {
  .name-place
{
	width: 85%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background-color: #212F3D;
	text-align: center;
}
	.hidden
{
	display: none;
	background-color: white;
	position: absolute;
	border-radius: 5px;
	top: 40px;
	left: 50%;
    transform: translateX(-50%);
	width: 35%;
	height: 90px;
	border: 2px solid #212F3D;

}
}